<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783428589365-f4nlbthkjdem6kd88s50g5guq76e1sul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783428589365-f4nlbthkjdem6kd88s50g5guq76e1sul</string>
	<key>API_KEY</key>
	<string>AIzaSyD0P8b4e7w2ZHBliox0knSle7F0884fwz0</string>
	<key>GCM_SENDER_ID</key>
	<string>783428589365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pilotox.app</string>
	<key>PROJECT_ID</key>
	<string>pilotoxapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pilotoxapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783428589365:ios:33598334cf9595085bde7c</string>
	<key>DATABASE_URL</key>
	<string>https://pilotoxapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>